h1 {
  color: #321cba;
  transition: 1s linear;
  text-align: center;
}

.big-blue-heading {
  color: gray;
  /*font-size: 5rem;*/
  /*transition-duration: 1000ms;*/
  transform: scale(1.3);
  transform-origin: center;
  transition: 1s linear;
}

.completed {
  color: red;
  text-decoration: line-through;
}